html{
    height: 100vh;
}

body {
    
    background-image: url(./assets/mobile/bg-image-nighttime.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Inter", sans-serif;
    color: white;
}


h1 {
    font-weight: bold;
    font-size: 6rem;
}
.current-time-container {
    display: flex;
  align-items: baseline;
}